@import url('https://fonts.googleapis.com/css2?family=Borel&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(../image/hedergb.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 369px;


    .header-top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35%;
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .logo {
        width: 50%;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: xxx-large;
        font-family: "Courier Prime", monospace;
        color: white;
    }

    .logo img {
        padding: 7px;
        width: 100px;
        border-radius: 25pc;
        border: 2px solid white;
    }

    .headt {
        display: flex;
        gap: 25px;
    }

    hr {
        margin: 0 60px;
        border: 1px solid rgba(255, 255, 255, 0.7);
    }

    .headt a {
        color: white;
        font-family: "Coming Soon", cursive;
        font-size: xx-large;
    }

    .slowgan p {
        font-family: "Borel", cursive;
        color: white;
        font-size: xx-large;
        padding: 40px;
    }

    .slowgan {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px 0px;
    }
}

main {
    hr {
        border: none;
        height: 1px;
        background: black;
        margin: 10px 5px;
    }

    h3 {}
}


footer {
    background-image: url(../image/foterbg.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 197px;
    display: flex;
    flex-direction: column;
    min-height: 250px;



    .foter-down {
        margin-top: auto;
        padding: 20px 40px;
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-weight: 400;
        font-size: x-large;
    }

    footer hr {
        color: white;
        margin-top: auto;
        position: relative;
        z-index: 1;
        top: 20px;
    }

    .foter-down nav>a {
        color: white;
        font-family: "Dosis", sans-serif;
        font-optical-sizing: auto;
        font-size: xx-large;
    }

    .foter-down nav {
        display: flex;
        gap: 20px;
    }

    .foter-down {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 40px;
    }
}