@font-face {
    font-family: 'Lexend';
    src: url(../font/Lexend/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Barlow';
    src: url(../font/Barlow/Barlow-Light.ttf);
}

@font-face {
    font-family: 'AnonymousPro';
    src: url(../font/AnonymousPro/AnonymousPro-Regular.ttf);
}

@font-face {
    font-family: 'Intelonemono';
    src: url(../font/IntelOneMono/IntelOneMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'worksans';
    src: url(../font/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'aronesans';
    src: url(../font/AR_One_Sans/AROneSans-VariableFont_ARRR\,wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

header {
    background-image: url(../image/hedergb.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 493px;


    .header-top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35%;
        padding-top: 25px;
        height: 150px;
        padding: 0px 64px;
    }

    .logo {
        width: 50em;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: x-large;
        color: white;
    }

    .logo>pre {
        font-family: "Lexend";
    }

    .logo img {
        padding: 7px;
        width: 70px;
        border-radius: 25pc;
        border: 2px solid white;
    }

    .hln {
        padding-bottom: 14px;
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    .hln>hr {
        width: 460px;
    }

    .headt {
        display: flex;
        gap: 25px;
    }

    hr {
        margin: 0 26px;
        border: 1px solid rgba(255, 255, 255, 0.7);
    }

    .headt a {
        color: white;
        font-family: "AnonymousPro";
        font-size: x-large;
        text-decoration: none;
    }

    .headt>ul {
        gap: 35px;
        display: flex;
        list-style: none;
        padding: none;
    }

    .slowgan {
        position: relative;
        width: fit-content;
        margin: 50px auto;
    }

    .slowgan img {
        width: 617px;
        display: block;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 52px;
    }

    .text {
        width: 582px;
        height: 139px;
        font-family: 'Intelonemono';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: white;
        text-align: center;
    }
}

main {
    hr {
        border: none;
        height: 1px;
        background: black;
        margin: 10px 5px;
    }

    .icon {

        border: 2px solid black;
        border-radius: 25px;
        margin-top: 30px;
        margin-left: 50px;
        width: 255px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        font-family: 'Barlow';
        letter-spacing: 10px;

    }

    .Card {
        width: 321px;
        height: 372px;
        border: 2px solid #4194AA;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Post {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 32px 56px;
        gap: 21px;
    }
}


footer {
    background-image: url(../image/foterbg.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 266px;

    hr {
        margin: 0 26px;
        border: 1px solid rgba(255, 255, 255, 0.7);
    }


    .blank {
        height: 153px;
    }

    .fot-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 113px;
        font-size: large;
        justify-content: space-between;
        padding: 0 59px ;

        .copyright {
            color: white;
            font-family: 'worksans';
        }

        .lfoot {
            font-family: 'aronesans';


            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}